page-login {
    .logo-crr {
        width: 175px;
        height: 280px;
        margin: auto;
    }

    .facebook {
        background: #3b5998;
    }

    .icon-left {
        float: left;;
    }
}
