page-home {
    .logo-crr {
        width: 175px;
        height: 280px;
        margin: auto;
    }

    .news {
        background: #00549B;
    }

    .results {
        background: #17814F;
    }

    .ranking {
        background: #F59F1A;
    }

    .calendar {
        background: #DC2012; 
    }
}
