page-email {
    .input-result {
        background: #00549B;
    }

    .create-message {
        background: #17814F;
    }

    .edit-calendar {
        background: #F59F1A;
    }

    .settings {
        background: #DC2012; 
    }
}
